h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#ff0000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes text {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

